<div class="card">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title" id="title"></div>
		</div>
	</div>
	
	<div class="message" id="text"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="TextField" id="textField"></div>
						<div x-mojo-element="PasswordField" id="passwordField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="buttons">
		<div x-mojo-element="Button" id="ok-button"></div>
		<div x-mojo-element="Button" id="cancel-button"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>